/* --Generale-- */
@media screen  and (min-width:1025px) {
    .A-page:hover {
     border-top: 4px solid #0065FC;
     padding-top: 5%;
     color: #0065FC;
    }
    .searchbutton2{
      display: none;
    }
}  
body {
    font-family: 'Raleway', sans-serif;
    width: 1280px;
    margin: auto;
    font-size: 15px;
}
h1, h2 {
  font-size:20px;
}
/* --Header-- */
    /* --Banniere-- */
        .banniere {
            display: flex;
            flex-direction: row;
            width:100%;
            margin: 2% 0;
        }
        nav a {
            color: rgb(22, 22, 22);
           text-decoration: none;
        }
        .sign-up {
            display: flex;
            width: 70%;
        }
        .A-inscription {
            margin-left: 100%;
            padding: 0 0 0 30%;
        }
        .logo {
            width: 100px;
        }
        .menu {
            width: 40%;
        }
        .menu a {
           margin: 0 2%;
           padding: 1% 5%;
        }
    /*---Recherche---*/
        .search {
            margin: 30px 0px;
            display: flex;
        } 
        .searchbar, .searchbutton1, .searchmap {
            font-size: 16px;
            height:50px;
            font-weight: bold;
            font-family: Raleway, sans-serif;
        }
          .searchbar{
            width: 220px;
            padding-left: 20px;
            border: 1px solid #F2F2F2;
        }
        .searchbutton1 {
            color: white;
            background-color: #0065FC;
            border-radius: 0px 15px 15px 0px;
            width: 130px;
            border: 3px;
        }
        .searchmap {
            width: 40px;
            border : 3px solid transparent;
            border-radius: 15px 0px 0px 15px;
        }
    /* --Filtres-- */
        .filtres label, .filtres button{
            font-size: 16px; 
            font-weight: bold;
            margin-right: 50px;
        }
        .filtres button{
            padding: 0 20px 0 50px;
            height: 40px;
            border : 2px solid #F2F2F2;
            border-radius: 20px;
            background-color: white;
        }
        .filtres .fas {
            position: absolute;
            font-size: 14px;
            border-radius: 100%;
            padding: 12px ;
            background-color: #DEEBFF;
            color: #0065FC;
        }
            