/* --Generale-- */
    :root {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    @media screen  and (min-width:430px) {
        .A-page:hover {
        border-top: 4px solid #0065FC;
        padding-top: 10%;
        color: #0065FC;
        }
        .searchbutton2 {
        display: none;
        }
        .label {
            padding-top: 0.5%;
        }
        .box2 h2 {
            margin: 30px 0 20px 40px;
        }
        .box1 h2 {
            margin: 30px 0 20px 70px;
        }
    }  
    body {
        font-family: 'Raleway', sans-serif;
        width: 100% ; 
        max-width: 1400px; ;
        margin: auto;
        font-size: 15px;
    }
    .flx {
        display: flex;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .btn, .filtres button {
        outline: none;
    }
/* --Header-- */
    /* --Banniere-- */
    .banniere {
        flex-direction: row;
        width:100%;
        margin: 4% 0 2%;
    }
    .logo{
        width: 100px;
    }
    .menu {
        margin-left: 55%;
        width: 50%;
        text-align: right;
    }
    .A-page {
        padding: 30px 30px 0 30px;
    }
    .A-inscription {
        padding: 30px 0 0 30px;
        font-weight: bold;
        color: #0065FC;
    }
    /*---Recherche---*/
        .search {
            margin: 30px 0px;
        } 
        .searchbar, .searchbutton1, .searchmap {
            font-size: 16px;
            height:50px;
            font-weight: bold;
            font-family: Raleway, sans-serif;
        }
          .searchbar{
            width: 220px;
            padding-left: 20px;
            border: 1px solid #F2F2F2;
        }
        .searchbutton1 {
            color: white;
            background-color: #0065FC;
            border-radius: 0px 15px 15px 0px;
            width: 130px;
            border: 3px;
        }
        .searchmap {
            width: 40px;
            border : 3px solid transparent;
            border-radius: 15px 0px 0px 15px;
        }
    /* --Filtres-- */
        label, .btn{
            font-size: 16px; 
            font-weight: bold;
            margin-right: 40px;
            
        }
        .btn{
            font-family: Raleway, sans-serif;
            font-size: 18px;
            padding: 0 20px 0 60px;
            height: 45px;
            border : 3px solid #F2F2F2;
            border-radius: 20px;
            background-color: white;
        }
        .btn:hover {
            background-color: #0065FC;
            color: white;
        }
        .filtres .fas {
            position: absolute;
            font-size: 16px;
            border-radius: 100%;
            padding: 15px 13px;
            background-color: #DEEBFF;
            color: #0065FC;
        }
    /* --Information-- */
        .information i {
            margin: 10px 15px 0 0;
            padding: 6px 10px;
            font-size: 12px;
            color : #0065FC;
            border: 2px solid #F2F2F2;
            border-radius: 20px;
        }
        .information  {
         margin : 30px 0;
        }
/* --Section-- */
    .hebergements{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .lien {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 19px;
        margin: 0 0 0 70px;
    }
    .fa-chart-line{
        padding: 0 0 0 30%;
    }
    .box1, .box2 {
        background-color: #F2F2F2;
        border-radius: 15px;
        height: 650px;
    }
    .box1 {
        width: 920px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .box2 {
        margin-left: 0.1vw;
    }
    figure{
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 1px 10px #aaa;
    }
    figure img {
        object-fit: cover;
    }
    .notation {
        color: #0065FC;
        font-size: 12px;
    }
    .vide{
        color: lightgrey;
    }
    .title {
        font-weight: bold;
        margin: 0;
        font-size: 15px;
    }
    figcaption {
        display: flex;
        flex-direction: column;
    }
    .card2 .price {
        padding: 0 0 10% ;

    }
    .card1 .price{
       padding: 0;
       margin: 5% 0;
    }
   /* --Main--*/
        .container1{
            height: 470px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 850px;
            margin: 1.5% 4% 0;
        }
        .card1 {
            margin: 0 ;
            height: 200px;
        }
        .card1 img {
            width: 240px;
            height: 107px;
            border-radius: 15px 15px 0 0;
            border: 4px white solid ;
            border-bottom: none;
        }
        .card1 figcaption{
            margin: 2% 5%;
        }
        /* --Aside--*/
        .container2 {
            height: 535px;
            flex-direction: column;
            justify-content: space-between;
        }
        .card2 {
            display: flex;
            width: 360px;
            height: 145px;
        }
        .card2 img{
            width: 140px;
            height: 145px;
            border-radius: 15px 0px 0px 15px;
            border: 4px white solid ;
            border-right: none;
        }
        .card2 figcaption{
            margin: 3% 8%;
        }
/* --Section -- */
    .box3 {
        width: 1400px;
        margin: 5% 0;
    }
    .container3 {
        width: 100%;
        justify-content: space-between;
    } 
    .container3 figure {
        margin:0;
    }
    .col {
        flex-direction: column;
        justify-content: space-between;
    }
    .overflow1 , .overflow2 {
        width: 300px;
        overflow: hidden;
    }
    .overflow1{
        height: 400px;
    }
    .overflow2 {
        height: 190px;
    }
    .card-act img{
        width: 300px;
        border-radius: 15px 15px 0 0;
    }
    .card5 img, .card6 img, .card7 img {
        object-position: top;
    }
    .card3, .card3 img  {
        height: 450px;
    }
    .card4 {
        height: 240px;
    }
    .card4 img {
        height: 260px;
    }
    .card5{
        height: 170px;
    }
    .card5 img {
        height: 125px;
    }
    .card6 {
        height: 190px;
    }
    .card6 img {
        height: 130px;
    }
    .card7 {
        height: 210px;
    }
    .card7 img {
        height: 157px;
    }
    .activites figcaption {
        margin: 5%;
    }
/* --Footer-- */
    footer{
        background-color: #F2F2F2;
    }
    footer h3 {
        margin: 10% 40px 0 ;
    }
    .footer {
        width: 33%;
        height: 220px;
    }
    .footer  li{
        list-style-type: none;
        padding: 3% 0 0 0;
    }
/* --- RESPONSIVE ---*/
@media screen and (max-width: 1330px) {
    .hebergements {
        justify-content: space-evenly;
    }
    .box2 {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1180px) {
    /* -- General-- */
        .flex-col {
            flex-direction: column;
            margin: auto;
        }
        .fa-chart-line{
            padding: 0 0 0 20%;
        }
        .A-page:active {
            border-top: 4px solid #0065FC;
            padding-top: 6%;
            color: #0065FC;
           }
    /* -- Header-- */
        header {
            margin: 0 5%;
        }
        .menu {
            width: 100%;
            margin: 0;
        }
        .filtres {
            width: 100%;
            flex-wrap: wrap;
        }
        .btn-box {
            width: 100%;
            height: 160px;
            flex-wrap: wrap;
        }
      
    /* -- Hebergements-- */
    .hebergements {
        width: 100% ;
    }
        .box1 {
            background-color: white;
            min-width:0;
        }
        .card1 {
            width: 240px;
            margin: 3%;
        }
        .box2 {
            width: 100%;
            height: 650px;
            margin-top: 4%;
        }
        .container2 {
            width: 90%;
            margin: auto;
        }
        .card2 {
           width: 90%;
           margin:auto;
        }
        .container1, .container3, .box1 , .box3 {
            width: 100%;
            height: 100%;
        }
        .container1, .container3 {
            flex-flow: row wrap;
            justify-content: space-around;
        }
    /* -- Activités -- */
        .box3 {
            margin: 3% 0 0 0;
        }
        .box2 h2, .box3 h2 {
            padding-left: 10%;
        }
        .container3 figure{
            margin: 20px;
        }
    /* --Footer-- */
    footer {
        width: 100%;
    }

}

/* -- Small Screen-- */
@media screen and (max-width: 580px){
  
    .box2 {
        width: 100%;
    }
}
@media screen and (max-width: 430px){
    /* --General-- */
    .flex-col {
        width: 100%;
        flex-direction: column;
        margin: auto;
    }
    .searchbutton1 {
        display: none;
    }
    .A-page:active {
        color: #0065FC;
        border-bottom: 5px solid #0065FC;
        border-top: none;
        padding-top: 0;
        ;
    }
    .btn:active {
        background-color: #0065FC;
        color: white;
    }
      h1 {
        font-size: 22px;
        width: 90%;
    }
    h2 {
        font-size: 22px;
    }
    .box2 h2, .box3 h2 {
        padding-left: 0;
    }
    .lien , h2{
        margin:  5%;
    }
    .fa-chart-line {
        position: absolute;
        right: 5%;
    }
    p {
        font-size: 16px;
    }
    /* --Header-- */
        /* --Banniere-- */
            header {
                    margin: auto;
                }
                .recherche {
                    margin: 0 4%;
                }
                .banniere {
                    flex-wrap: wrap;
                    width: 100%;
                }
                .banniere p {
                    width: 50%;
                    display: flex;
                }
                 .menu {
                    width: 100%;
                    display: flex;
                    order: 1 ;
                }
                .A-inscription{
                    order: 0;
                    display: flex;
                    width: 100%;
                    margin:  0 0 0 60px;
                } 
                .sign {
                    width: 50%;
                }
                .A-page {
                    border-bottom: 3px solid lightgrey;
                    text-align: center;
                    width: 50%;
                    display: flex;
                    padding: 0 70px 10px;
                }
              
                .logo {
                    margin: 0 40px;
                }
        /* --Recherche-- */
            /* --Search-- */
                .searchbar {
                    width: 75%;
                    border: 1px solid #F2F2F2;
                }
                .searchbutton2 {
                    width: 14%;
                    border-radius: 15px;
                    font-size: 15px;
                    background-color: #0065FC;
                    border-color: #0065FC;
                    color: white;
                    position: absolute;
                    margin: 0 0 0 75%;
                    padding: 14px;
                }
                .searchmap{
                    width: 14%;
                    border-radius: 15px 0px 0px 15px;
                }
            /* --Filtres-- */
                .filtres {
                    display: block;
                    height: 200px;
                    margin: 0;
                }
                .btn-box {
                    flex-wrap: wrap;
                    margin: 5% 0 0;
                    height: 200px;
                    width: 100%;
                }
                .btn {
                    margin-right: 20px;
                    padding-left: 50px;
                    font-size: 15px;
                }
            /* --Informations-- */
                .information p {
                    width: 90%;
                }
    /* --Section dimensions-- */
        
        .hebergements {
            height: 2000px;
        }
        .activites {
            height: 1475px;
        }
        .box1 {
            height: 1430px;
            min-width: 0;
            order: 1;
            background-color: white;
        }
        .box2 {
            height: 555px;
            border-radius: 0;
        }
        .box3 {
            height: 1432px;
        }
        .container1 {
            height: 1300px;
        }
        .container2 {
            height: 470px;
        }
        .container3 {
            height: 1352px;
        }
        .col {
            height: 450px;
            justify-content: space-evenly;
        }
    /* --Section card-- */
    .activites figure, .card1 ,.card2 {
        width: 90%;
        margin: auto;
     }
     .activites figure, .card1{
        height: 200px;
     }
     .activites img, .overflow1, .overflow2 {
        width: 100%;
        height: 150px;
    }
    .card7 img {
        object-position: 100% 15%;
    }
    .card3 img, .card4 img {
        height: 220px;
    }
    .card2 div {
        width: 60%;
    }
    .card2 div {
        width: 60%;
    }
    .card1 img {
        width: 100%;
        height: 115px;
    }
    .card2 figcaption {
        margin: 3% 4%;
    }
    .card1 .price {
        padding-bottom: 1%;
        margin: 2% 0;
    }
    /*--FOOTER---*/
        footer {
            height: 500px;
        }
        .footer {
            flex-direction: row;
            width: 100%;
        }
}
@media screen and (max-width: 350px){
    .card2 figcaption {
        margin: 3% ;
    }
    .card2 .price {
        margin: 0;
    }
}